.wrapper {
        width: 600px;
        height: 10rem;
}

.content {
        padding: 1rem 0;
}

.footer {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        & button {
                margin-left: 1rem;
        }
}